$background: #fafdfa;
$fontColor: #383838;

body {
  background: $background;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $fontColor;
  padding-top: 70px;

  footer {
    margin: 50px 0;
  }
}
