body {
  background: #fafdfa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #383838;
  #app {
    border: 1px #613599 solid;
    padding: 1rem;
    width: 960px;
    margin: 1rem auto;
  }
}
