node_modules/
dist/
.sass-cache/
tmp/
build/bower_components/
.idea
build/*
!build/index.html
!build/favicon.ico
!build/widget.html
!build/style.css
!build/auth.js

project-config.js
yarn.lock
yarn-error.log
